@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.phantom-button {
  height: inherit !important;
  padding: inherit !important;
}

.phantom-button:hover {
  background-color: transparent !important;
}

.phantom-button:hover > .wallet-adapter-button-start-icon > svg,
.phantom-button:hover > span {
  color: rgb(243 244 246) !important;
}

.Huddle {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 100%;
}

button {
  background: #246bfd;
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
}

.heading {
  background: #246bfd;
  color: white;
  text-align: center;
  font-size: 40px;
}